/* ---------------------------------------
grundriss-nav-is-clean
-----------------------------------------*/

body.background-grundriss {
    background-color: whitesmoke;
}

.g-nav-container-fix{
    height: 220px;
}
.g-nav-container {
    position: relative;
    width: 90%;
    margin: 0px 5%;
    padding: 0px 6px;
}

.g-nav-container a {
    height: 190px;
    float: left;
    width: 25%;
}

.g-nav-container img {
    width: 100.5%;
}

.g-nav-container a:hover img {
    opacity: 0.4;
}

.g-nav-container a:hover h2 {
    color: red;
}

.g-nav {
    width: 50%;
    float: left;
    margin-bottom: 50px;
}

.footer-container-grundriss {
    position: relative;
    width: 100%;
    padding: 0 5%;
}

/* ---------------------------------------
top-nav-grundriss-is-clean
-----------------------------------------*/

#nav-container-grundriss {
    background-color: #ffffff;
    width: 100%;
    padding: 20px 5%;
    position: fixed;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 100;
    top: 0;
}


/* ---------------------------------------
nav-side-container
-----------------------------------------*/

.nav-side-container {
    width: 35%;
    overflow: scroll;
    position: fixed;
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 120px;
    padding-bottom: 40px;
    float: left;
}

.next{
    padding-left: 16px;
    font-size: 47px;
}

.prev{
    padding-right: 16px;
    font-size: 47px;
}

#navimage {
    max-width: 100%;
    padding: 30px 0px;
}

.accordion-title {
    border-bottom: 1px solid rgba(40, 40, 40, 0.5);
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.accordion-title a {
    letter-spacing: 0.6px;
    font-size: 18px;
}

.accordionButton:hover {
    color: red;
    cursor: pointer;
}

.accordion-list {
    margin: 10px 0px -10px 0px;
    padding: 0px;
}

.accordion-list li {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid rgba(40, 40, 40, 0.5);
    color: rgba(0, 0, 0, 0.7);
    font-size: 21px;
    letter-spacing: 0.6px;
    list-style-type: none;
}

.a {
    width: 28%;
    text-align: left;
    display: inline-block;
}

.b {
    width: 72%;
    display: inline-block;
    text-align: right;
}

.openred {
    color: red;
}

/* ---------------------------------------
accordion animation
-----------------------------------------*/

#accordion section ul {
    display: none;
}
/* ---------------------------------------
grundrisse-container
-----------------------------------------*/

.plan-container {
    position: relative;
    top: 82px;
    left: 35%;
    width: 65%;
}

.plan-container img {
    width: 100%;
    padding: 80px 150px;
    box-sizing: border-box;
}

/* ---------------------------------------
grundriss-responsive
-----------------------------------------*/

.responsiv-map{
    display: none;
}

@media screen and (max-width: 960px) {
    
    body.background-grundriss {
    background-color: white;
    }
    .responsiv-map{
    display: block;
    width: 100%;
    padding: 30px 20px 50px 20px;
    box-sizing: border-box;
    border-top: 1px solid rgba(40, 40, 40, 0.5); 
    }
    .plan-container {
    display: none;
    }
    .nav-side-container {
    width: 100%;
    position: relative;
    padding-top: 100px;
    
    }
    #nav-container-grundriss {
    position: absolute;
    }
}

@media screen and (max-width: 600px) {
    .g-nav-container-fix{
    height: 120px;
}
    
    .g-nav-container a {
    width: 50%;
}
}
    