* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, li, a, th, td, button, figcaption, #countdowntimer {
    margin: 0;
    padding: 0;
    font-family: "Tinos", "Times New Roman", serif;
    font-weight: 400;
    color: rgb(50, 50, 50);
}

h1 {
    font-size: 46px;
    line-height: 1.2;
	letter-spacing: 4px;
	text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 34px;
	letter-spacing: 1.75px;
    line-height: 1.2;
	text-align: left;
    text-transform: uppercase;
}

p {
    font-size: 19px;
	line-height: 1.5;
	letter-spacing: 0.5px;
	text-align: center;
    color: rgba(0, 0, 0, 0.8);

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

mark {
    background-color: none;
    color: rgba(0, 0, 0, 0.8);
}

figure {
    margin: 0;
}

figcaption {
    text-align: left;
    padding-top: 10px;
    padding-left: 12px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;

}

/*----------------------------------
hauptnav-is-clean
-----------------------------------*/
#navcontainer {
    background-color: #fff;
    width: 100%;
    padding: 40px 5%;
    position: fixed;
    transition: 0.5s;
    z-index: 100;
    top: 0;
}

#navcontainerlive {
    background-color: #fff;
    padding: 40px 40px 20px;
    position: fixed;
    transition: 0.5s;
    z-index: 100;
    top: 0;
    width: 100%;
}

.nav-left  {
    width: 32%;
}

.nav-left img{
    float: left;
}

.solarius-logo {
    padding-left: 16px;
    display: inline-block;
    letter-spacing: 5px;
}

.topnav {
    list-style-type: none;
    text-align: right;
    cursor: pointer;
    float: right;
}

.topnav a {
    display: inline-block;
    padding: 14px 0px 14px 14px;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.live {
    color: red;
}

.pulse {
    vertical-align: middle;
    font-size: 32px;
    line-height: 1px;
    color: red;
    animation: pulsate 2.5s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.25;
    position: relative;
    bottom: 1px;
}

@keyframes pulsate {
    0% {opacity: 0.25;}
    50% {opacity: 1.0;}
    100% {opacity: 0.25;}
}

@-webkit-keyframes pulsate {
    0% {opacity: 0.25;}
    50% {opacity: 1.0;}
    100% {opacity: 0.25;}
}

/*----------------------------------
responsive-nav-is-clean
-----------------------------------*/

.topnav .close {
    display: none;
    padding-top: 10px;
}

.topnav .close:hover {
    color: rgba(255, 0, 0, 0.8);
}

.topnav .menu {
  display: none;
}

@media screen and (max-width: 930px) {
    .nav-left {width: 90%;}
    .topnav .navresp {display: none; padding: 16px 0px;}
    .topnav .menu {
        display: block;
        padding: 12px 0px 0px 0px;
    }
}
@media screen and (min-width: 931px) {
    .nav-left {width: 32%;}
    .topnav .navresp {display: inline-block !important;}
    .topnav .menu {display: none;}
    .close {display: none !important;}
}

/*----------------------------------
fullscreen-img-transition-fix
-----------------------------------*/

.header-img-container {
    max-width: 100%;
    overflow: hidden;
}

.header-img-defin{
    position: relative;
    z-index: 1;
    top: 80px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.header-img-kontakt {
    position: relative;
    z-index: 1;
    top: 100px;
    min-height: 60vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.header-img-start {background-image: url("../img/solarius-rosenberg-st-gallen-greifenstrasse-miete-mietwohnung-eigentumswohnung-aussenansicht.jpg");}
.header-img-eigentum {background-image: url("../img/solarius-rosenberg-st-gallen-greifenstrasse-eigentum-eigentumswohnungen.jpg");}
.header-img-miete {background-image: url("../img/solarius-rosenberg-miete-kueche.jpg");}
.header-img-lage {background-image: url("../img/solarius-rosenberg-greifenstrasse-lage-stgallen-saentis.jpg");}
.header-img-kontakt {background-image: url("../img/solarius-rosenberg-eigentum-wohnzimmer-kueche.jpg");}
/*----------------------------------
section-stage-is-clean
-----------------------------------*/

.section-stage-container {
    z-index: 2;
    position: absolute;
    bottom: 50px;
    width: 90%;
    margin: 0px 5%;
    float: right;
}

.section-stage-container h2 {
    text-align: right;
    color: whitesmoke;
    letter-spacing: 5px;
    text-shadow: 0px 0px 10px rgba(40, 40, 40, 0.5);
}

/*----------------------------------
Live Video
-----------------------------------*/
.buttoncontainer {
    position: absolute;
    z-index: 10000;
    margin: 0;
    padding: 0;
    top: 100px;
}

.video-background {
    background: #000;
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 67%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#zeitraffer {
    display: none;
}


.videobutton {
    right: 5%;
    z-index: 10;
    width: 171px;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: left;
    padding: 20px;
    background-color: whitesmoke;
    border: none;
    cursor: pointer;
    outline:none;
}

#buttonLive {
    top: 200px;
    background: #ff0000;
    color: #ffffff;
    float: left;
}

#buttonZeitraffer {top: 250px;}

.webcam-container{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.aktuell {
    padding: 0 5%;
    margin-top: 125px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.news {
    background: whitesmoke;
    width: 32%;
    padding: 20px;
    text-align: left;
    float: left;
}

.news.fl {
    float: right;
}

.news h1, .news h2, .news h3, .news a  {
    font-size: 19px;
	line-height: 1.5;
	letter-spacing: 0.5px;
	text-align: left;
    text-transform: none;
    color: rgba(0, 0, 0, 0.8);
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.news h1 {
    font-size: 25px;
    line-height: 1.1;
    letter-spacing: 1.3px;
    padding: 8px 0 15px 0;
}
.news h3 {
    font-size: 15px;
}

.news a {
    color: red !important;
}

.news img {
    width: 100%;
    margin-top: 20px;
}
.aktuell span {
   color: red;
}
.aktuell .date {
   color: rgba(0, 0, 0, 0.5);
}

/*----------------------------------
article-main-is-clean
-----------------------------------*/

.article-main-container {
    text-align: center;
    margin-top: 150px;
    width: 100%;
    padding: 0 5%;
}

.article-main-container h1 {
    margin: 0 auto;
    margin-top: 34px;
    width: 600px;
}

.article-main-p {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 120px;
    padding: 0 40px;
    max-width: 820px;
    text-align: center;
}

.article-img-container,
.article-img-container-fix {
    position: relative;
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
}
/*
.article-img-container:hover {
    transform: scale(1.02);
}*/

/*----------------------------------
Dropdown-Bottom-is-clean
-----------------------------------*/

.dropdown  {
    position: absolute;
}

.plus-1 {top: 48%; left: 12%;}
.plus-2 {top: 43%; left: 24%;}
.plus-3 {top: 39%; left: 36%;}
.plus-4 {top: 47%; left: 46%; z-index:2;}
.plus-5 {top: 30%; left: 10%;}
.plus-6 {top: 36%; left: 60%;}
.plus-7 {top: 45%; left: 44%; z-index:2;}

.dropbtn {
    position: absolute;
    background-color: white;
    color: rgb(40, 40, 40);
    width: 36px;
    height: 36px;
    font-size: 29px;
    font-weight: lighter;
    line-height: 0px;
    border: none;
    border-radius: 50%;
    z-index: 4;
}

.minus {
    display: none;
}

.table-content{
    visibility:hidden;
    opacity:0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    position: absolute;
    z-index: 3;
    top: 22px;
    left: 22px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 300px;
    padding: 20px;
}

.table-content table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid rgb(200,200,200);
    padding: 8px 6px;
    text-align: left;
}

td:first-child {
    width: 72px;
}

.dropdown:hover .table-content {visibility:visible; opacity:1;}
.dropdown:hover .minus {display: block;}
.dropdown:hover .plus {display: none;}
.dropdown:hover .dropbtn {background-color: whitesmoke;}

/*----------------------------------
article-second-is-clean
-----------------------------------*/
.section-second-container {
    width: 100%;
    padding: 0 5%;
}

.article-50-container h2,
.article-50-container p {
    width: 50%;
    margin-top: 80px;
    margin-bottom: 180px;
    float: left;
    padding: 0px 12px;
    text-align: left;
}

/*---------------------------------
footer-grundriss-is-clean
----------------------------------*/

.footer-grundriss {
    width: 50%;
    float: left;
    margin-top: 80px;
    margin-bottom: 120px;
    padding: 0px 30px 0px 12px;
}

.footer-grundriss p {
    text-align: left;
    padding-top: 20px;
}

.f-g-nav-container {
    width: 25%;
    float: left;
    margin-top: 80px;
}

.f-g-nav-container .l {
    padding-left: 12px;
}

.f-g-nav-container .r {
    padding-right: 12px;
}

.f-g-nav-container img {
    max-width: 100.5%;
}

.f-g-nav-container a:hover img {
    opacity: 0.4;
}

.f-g-nav-container a:hover h2 {
    color: red;
}

/*----------------------------------
footer-is-clean
-----------------------------------*/

.footer-container {
    width: 100%;
    padding: 0 5%;
    display: inline-block;
}

.footer-25, .impressum {
    list-style-type: none;
    width: 25%;
    padding: 6px;
    margin-top: 40px;
    margin-bottom: 10px;
    float: left;
}

.footer-25 li {
    padding: 10px 6px 8px 6px;
    border-bottom: 1px solid rgb(200,200,200);
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    letter-spacing: 0.6px;
    text-align: left;
}

.footer-title {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

.footer-container-kontakt {
    position: relative;
    top: 100px;
    width: 100%;
    padding: 0 5%;
}

.targetlink {
    cursor: pointer;
}

/*----------------------------------
impressum
-----------------------------------*/

#impressum {
    width: 100%;
    display: none;
}

.impressum {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
}

#impressum article {
    width: 25%;
    margin-top: 40px;
    float: left;
}

.impressum p, .impressum p a  {
    padding: 10px 20px 0px 6px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    letter-spacing: 0.6px;
    text-align: left;
}
.impressum p a {
     padding: 10px 20px 0px 0px;
}

.impressum h3 {
    padding: 10px 6px 8px 6px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    letter-spacing: 0.6px;
    text-align: left;
}

/*----------------------------------
a-is-clean
-----------------------------------*/

a:link {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

a:visited {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:active {
    color: rgba(255, 0, 0, 0.3);
    text-decoration: none;
}

.active_site{
    border-bottom: 1px solid red;
    padding-bottom: 5px;
}


/*----------------------------------
    Cookiebanner
-----------------------------------*/

#cookiebanner {
    position: fixed;
    bottom: -300px;
    left: 40px;
    width: 350px;
    background-color: white;
    padding: 15px;
    z-index: 9999;
    transition: bottom 0.5s cubic-bezier(0.2, 0.8, 0.3, 2);
  }
  
  #cookiebanner p {
    text-align: left;
    font-size: 18px;
    color: black;
    margin: 0;
  }
  
  #cookiebanner.visible {
    bottom: 25px;
  }
  
  #cookiebanner button {
    font-size: 18px;
    letter-spacing: 0;
    text-decoration: none; 
    cursor: pointer;
  }
  
  #declineBtn, #acceptBtn {
    margin-top: 20px;
  }
  
  #declineBtn {
    padding: 10px 20px;
    background:none;
    border: 1px solid gray; 
    color: gray;
    opacity: 0.5;
  }
  
  #acceptBtn {
    border: none;
    padding: 10px 40px;
    background: black;
    color: white;
    margin-right: 5px;
  }
  
  #acceptBtn:hover,
  #declineBtn:hover {
    transition: opacity 0.5s ease-in-out;
    opacity: 0.75; ;
  }

/*----------------------------------
Responsive
-----------------------------------*/

@media screen and (max-width: 1025px) {
    .footer-grundriss {
        width: 75%;
        margin-top: 80px;
        margin-bottom: 50px;
    }
    .f-g-nav-container {
        width: 50%;
        margin-top: 0px;
        margin-bottom: 80px
    }
}

@media screen and (max-width: 1190px) {
    .news {width: 48%;}
    
    .footer-25 {
        width: 50%;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    .footer-container-kontakt {
        margin-top: 40px;
    }

    #impressum article {
    width: 50%;
    }
}

@media screen and (max-width: 760px) {

    #navcontainerlive {padding: 13px 20px;}
    .buttoncontainer {top:0px;width: 50%; right: 0;}
    .videobutton {width: 50%;padding: 25px 15px;}
    .video-background{top: 65px;}

    .news {width: 100%;}
    .icon-scroll{display: none;}
    .article-main-container{
        width: 100%;
        padding: 0;
        margin-top: 100px
    }

    .article-main-p{
        padding: 0px 40px;
    }
     .table-content {
        width: 240px;
    }
    .plus-1 {top: 43%; left: 12%;}
    .plus-2 {top: 38%; left: 24%;}
    .plus-3 {top: 33%; left: 36%;}
    .plus-4 {top: 41%; left: 44%; z-index:2;}
    .plus-6 {top: 36%; left: 45%;}
    .plus-7 {top: 45%; left: 30%; z-index:2;}
    .dropbtn {
        width: 30px;
        height: 30px;
        font-size: 24px;
    }
    .article-50-container h2,
    .article-50-container p {
        width: 100%;
        margin-top: 80px;
        margin-bottom: 40px;
    }
    .article-50-container p {
        margin-top: 0px;
    }
}

@media screen and (max-width: 600px) {
   h1 {
    font-size: 38px;
	letter-spacing: 3px;
    padding: 0px 40px;
    }

    h2 {font-size: 28px;}
    p {font-size: 17px;}

    .buttoncontainer {bottom: 0;top: auto;width: 100%;}
    .video-background{top: 55px;}

    #navcontainer {padding: 18px 5% !important;}
    .nav-left img {width: 30px; height: 30px;}
    .topnav .menu {padding-top: 9px;}
    .header-img-defin {background-position: left; top: 60px}
    .header-img-defin.header-img-start {background-position: right;}
    .header-img-defin.header-img-lage {background-position: center;}
    .section-stage-container {bottom: 20px;}
    .section-second-container, .footer-grundriss {padding: 0;}
    .article-main-p {margin-bottom: 80px; margin-top: 40px;}
    .dropdown {display: none;}
    .article-main-container h1, .footer-grundriss, .footer-25, #impressum article {width: 100%;}
    .article-50-container h2, .article-50-container p,
    .footer-grundriss h2, .footer-grundriss p {padding: 0px 5%;}
    .f-g-nav-container {padding: 0px 5%}
    .f-g-nav-container .l, .f-g-nav-container .r {padding: 0px;}
    .header-img-kontakt {display: none;}

    #cookiebanner {width: calc(100% - 40px); left: 20px;}
    #cookiebanner.visible {bottom: 60px;}
}
